.chat-main__body--messages-list
  .chat-main__message
    .chat-main__message-name
      = message.user.name
    .chat-main__message-time
      = format_posted_time(message.created_at)
  .chat-main__message-body
    - if message.text.present?
      %p.lower-message__text
        = message.text
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
