.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__header {
    height: 15%;
    border: solid 1px #eeeeee;
    &__header--group {
      height: 100%;
    }
    .clearfix:after {
      clear: both;
      content: "";
      display: block;
    }
      .chat-main__header--group-name {
        float: left;
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px;
        padding-left: 40px;
      }
      .chat-main__header-edit-btn {
        float: right;
        color: skyblue;
        font-weight: bold;
        font-size: 12px;
        padding: 12px 20px;
        margin: 28px 40px 0;
        border: 1px solid skyblue;
      }

    .chat-main__header-members {
      font-size: 12px;
      color: #999999;
      padding-left: 40px;
    }
  }


  .chat-main__body {
    height: calc(100vh - 15% - 90px);
    background-color: #AAAAAA;
    &--messages-list {
      padding-left: 40px;
      padding-top: 46px;
    }
  }
    .chat-main__message-name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      float: left;
      margin-right: 10px;
    }
    .chat-main__message-time {
      font-size: 12px;
      color: #999999;
      float: left;
    }
    .chat-main__message-body {
      clear: both;
      font-size: 14px;
      color: #434A54;
      padding-top: 10px;
      margin-bottom: 40px;
    }


    &__footer {
      height: 90px;
      background-color: skyblue;
      .form{
        width: 100%;
        height: 90px;
        position: relative;
        .form__message {
          float: left;
          width: 80%;
          height: 50px;
          margin: 20px 10px 20px 40px;
          padding-left: 10px;
          font-size: 16px;
          color: #434A54;
        }
        .form__mask{
          float: left;
          position: absolute;
          top: 35px;
          left: 920px;
          .hidden {
            display: none;
          }
        }
        .form__submit {
          float: right;
          margin-right: 40px;
          margin-top:20px;
          height: 50px;
          width: 90px;
          background-color:#38AEF0;
          border: none;
          color: $white;
        }
      }
    }
}

